[submodule "common"]
	path = common
	url = https://github.com/djethino/unitygametranslator-common.git
[submodule "catalogs"]
	path = catalogs
	url = https://github.com/djethino/unitygametranslator-catalogs.git
